.header {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 10px 15px;
  border-bottom: 2px solid;

  .left {
    display: flex;
    align-items: center;

    .logo {
      margin-right: 25px;
    }
  }

  .right {
    display: flex;
    align-items: end;
    justify-content: end;
  }
}
